<form class="card" #f="ngForm" (ngSubmit)="onSubmit()" novalidate (keydown.enter)="$event.preventDefault()">
  <div class="card-header">
    <strong jhiTranslate="customer.form.formTitle">Thêm/sửa khách hàng</strong>
    <div class="pull-right d-flex">
      <button type="submit" class="btn btn-square btn-primary"><span jhiTranslate="common.save"></span></button>
      <a class="btn btn-secondary btn-square ml-1" routerLink="../list" jhiTranslate="common.back">Quay lại</a>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="name" jhiTranslate="customer.form.name">Tên</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formModel.name" trim="blur" />
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="phoneNumber" jhiTranslate="customer.form.phoneNumber">Số điện thoại</label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            name="phoneNumber"
            #phoneNumber="ngModel"
            required
            [(ngModel)]="formModel.phoneNumber"
            maxlength="20"
            trim="blur"
            [pattern]="phoneRegex"
            autocomplete="off"
          />
          <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched || f.submitted)" class="msg-invalid mt-1">
            <div *ngIf="phoneNumber.errors.required">{{ 'validation.required' | translate }}</div>
            <div *ngIf="phoneNumber.errors.maxlength">{{ 'validation.tooLong' | translate }}</div>
            <div *ngIf="phoneNumber.errors.conflict">{{ 'validation.duplicate' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="dateOfBirth" jhiTranslate="customer.form.dateOfBirth">Ngày sinh</label>
          <div class="input-group">
            <input
              [owlDateTime]="dateOfBirth"
              [owlDateTimeTrigger]="dateOfBirth"
              name="dateOfBirth"
              class="form-control"
              id="dateOfBirth"
              [(ngModel)]="formModel.dateOfBirth"
              aria-describedby="dateOfBirth-addon"
            />
            <div class="btn-clear-input" *ngIf="formModel.dateOfBirth">
              <i class="fa fa-times"></i>
            </div>
            <div class="input-group-append">
              <span class="input-group-text cursor-pointer" id="dateOfBirth-addon"
                ><span class="trigger" [owlDateTimeTrigger]="dateOfBirth"> <i class="fa fa-calendar"></i> </span
              ></span>
            </div>
          </div>
          <owl-date-time #dateOfBirth></owl-date-time>
        </div>
      </div>
    </div>
  </div>
</form>
