<form class="card" #f="ngForm" (ngSubmit)="onSubmit()" novalidate (keydown.enter)="$event.preventDefault()">
  <div class="card-header">
    <strong jhiTranslate="product-history.form.formTitle">Thêm/sửa lịch sử nhập hàng</strong>
    <div class="pull-right d-flex">
      <button type="submit" class="btn btn-square btn-primary"><span jhiTranslate="common.save"></span></button>
      <a class="btn btn-secondary btn-square ml-1" routerLink="../list" jhiTranslate="common.back">Quay lại</a>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="productName" jhiTranslate="product-history.form.productName">Tên hàng hoá</label>
      <input type="text" class="form-control" id="productName" name="productName" [(ngModel)]="formModel.productName" trim="blur" />
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="price" jhiTranslate="product-history.form.price">Giá</label>
          <input type="number" class="form-control" id="price" name="price" #price="ngModel" required [(ngModel)]="formModel.price" />
          <div *ngIf="price.invalid && (price.dirty || price.touched || f.submitted)" class="msg-invalid mt-1">
            <div *ngIf="price.errors.required">{{ 'validation.required' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="quantity" jhiTranslate="product-history.form.quantity">Số lượng</label>
          <input
            type="number"
            class="form-control"
            id="quantity"
            name="quantity"
            #quantity="ngModel"
            required
            [(ngModel)]="formModel.quantity"
          />
          <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched || f.submitted)" class="msg-invalid mt-1">
            <div *ngIf="quantity.errors.required">{{ 'validation.required' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="provider" jhiTranslate="product-history.form.provider">Nhà cung cấp</label>
      <ng-select
        [(ngModel)]="formModel.provider"
        [items]="providers$ | async"
        id="provider"
        bindLabel="description"
        name="provider"
        #provider="ngModel"
        [typeahead]="providerInput$"
        [loading]="loadingProvider"
        required
      >
      </ng-select>
      <div *ngIf="provider.invalid && (provider.dirty || provider.touched || f.submitted)" class="msg-invalid mt-1">
        <div *ngIf="provider.errors.required">{{ 'validation.required' | translate }}</div>
      </div>
    </div>
    <div class="row" *ngIf="id && formModel">
      <div class="col">
        <div class="form-group" *ngIf="formModel.user">
          <label jhiTranslate="product-history.form.creator">Người tạo</label>
          <input class="form-control" [value]="formModel.user.login" disabled readonly />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label jhiTranslate="product-history.form.createdDate">Ngày tạo</label>
          <div class="form-control disabled">{{ formModel.receiveDate | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
        </div>
      </div>
    </div>
  </div>
</form>
